:root {
  --background: #f0f0f0;
  --text-primary: #333;
  --white: #fff;
  --text-secondary: #444;
  --border: #ddd;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--text-primary);
  color: var(--white);
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.exchange-rates {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.exchange-rates p {
  background-color: var(--text-secondary);
  padding: 10px;
  border-radius: 5px;
}

.currency-converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 100%;
}

.main-section {
  padding: 20px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.converter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--border);
  margin: 10px;
}

select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--border);
  margin: 5px;
}

.flag {
  display: inline-block;
  width: 30px;
  height: 20px;
  vertical-align: middle;
  margin-left: 20px;
}
